<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hacker news</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="category_name">Choose one of the options:</label>
        <select name="category_name" id="category_name">
            <option value="askstories">Askstories</option>
            <option value="showstories">Showstories</option>
            <option value="newstories">Newstories</option>
            <option value="jobstories">Jobstories</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>